<%= stylesheet_link_tag :admin_popup %>
<div class="row row-narrow">
  <div class="form-container">
    <div class="form-container-inner clear">
      <div class="heading">
        <h1>New category</h1>
      </div>
      <div class="pane clear" id="register">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

