/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial","Helvetica",sans-serif;
    font-size: 12px;
    text-align: center;
    background: url(homepage-gradient.png) repeat-x scroll left top #F5F5F1;
    line-height:16px;
}

a:link, a:visited {
    color: #0192B5;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}
input, textarea {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
table, form, td, tr, th {
    border-collapse: collapse;
    border-spacing: 0;
    border-style: none;
    border-width: 0;
}
.clear:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    width: 0;
}

#meta-group {
    height: 19px;
    padding: 12px 2px 8px 1px;
}
.clear{min-height: 1%;}

.transitional-wide #header, .transitional-wide #content, .transitional-wide #footer {
    width: 980px;
}
#header, #content, #footer {
    margin: 0 auto;
    text-align: left;
    width: 760px;
}

#header {
    line-height: 15px;
    position: relative;
    text-align: left;
    vertical-align: baseline;
    z-index: 10;
}

header ul, #header li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#user-nav {
    float: left;
}

#user-nav li {
    color: #666666;
    padding: 1px 12px 0 0;
}


#meta-nav {
    float: right;
}
#meta-nav li{
    padding: 1px 0 0 12px;
}
#etsy {
    background: url("header-master-new.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 55px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    text-indent: -999em;
    top: 39px;
    width: 100px;
}
#etsy a {
    display: block;
    height: 100%;
    width: 100%;
}

#navigation-group {
    margin: 0 0 0 105px;
    position: relative;
}

#navigation-group {
    z-index: 1000;
}
#navigation-group ul {
    display: inline;
    float: left;
    height: 55px;
    position: relative;
}
#main-nav {
    background: -moz-linear-gradient(center bottom , #CBCBC5 25%, #DDDDD8 76%, #EEEEEC 98%, #E7E7E4 100%) repeat scroll 0 0 #DDDDD8;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    height: 55px;
    overflow: hidden;
}
#main-nav li {
    border-right: 1px solid #FFFFFF;
    float: left;
    height: 55px;
}
#main-nav li a#register {
    color: #0192B5;
    font-weight: bold;
    padding: 21px 24px 19px;
    text-decoration: none;
    text-shadow: 0 1px 0 #EEEEEC;
    width: auto;
}

#main-nav li a {
    color: #0192B5;
    display: inline-block;
    height: 100%;
    padding: 0;
    position: relative;
    width: 60px;
}
#main-nav li a#sign-in {
    color: #0192B5;
    font-weight: bold;
    padding: 21px 24px 19px;
    text-decoration: none;
    text-shadow: 0 1px 0 #EEEEEC;
    width: auto;
}

form#search-bar {
    background: -moz-linear-gradient(center bottom , #CBCBC5 25%, #DDDDD8 76%, #EEEEEC 98%, #E7E7E4 100%) repeat scroll 0 0 #E0E0DB;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    display: inline-block;
    margin-right: 0;
    position: relative;
    width: 584px;
}

#navigation-group form {
    display: inline;
    float: left;
    height: 55px;
    position: relative;
}
#search-facet {
    -moz-user-select: none;
    cursor: default;
}
#search-bar #search-facet {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("header-master-new.png") no-repeat scroll 100% -55px, -moz-linear-gradient(center bottom , #D5D5D5 10%, #F0F0F0 93%, #FFFFFF 99%) repeat scroll 0 0 transparent;
    border-color: #B3B3B3 #B3B3B3 #939393;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #C0C0BA;
    cursor: pointer;
    height: 24px;
    left: 16px;
    padding: 0;
    position: absolute;
    top: 15px;
    width: 100px;
    z-index: 300;
}

#search-facet:hover, #search-bar #search-facet.open {
    background: url("header-master-new.png") no-repeat scroll 100% -55px, -moz-linear-gradient(center bottom , #C6C6C6 3%, #F0F0F0 93%, #FAFAFA 99%) repeat scroll 0 0 transparent;
    border-color: #939393;
    z-index: 300;
}

#search-bar #search-facet label {
    background: none repeat scroll 0 50% transparent;
    padding-right: 0;
    width: 62px;
}
#search-bar #search-facet ul.closed {
    display: none;
}

#search-bar #search-facet ul {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F6F6F6;
    border-color: #DDDDDD #DDDDDD -moz-use-text-color;
    border-radius: 0 0 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    height: auto;
    left: 0;
    list-style-position: outside;
    outline: 0 none;
    position: absolute;
    top: 27px;
    z-index: 300;
}

#navigation-group ul {
    display: inline;
    float: left;
    height: 55px;
    position: relative;
}

#search-bar #search-facet li.selected {
    background: url("header-master-new.png") no-repeat scroll -477px -49px transparent;
    color: #333333;
}
#search-bar #search-query {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #B3B3B3 #CCCCCC #CCCCCC #B3B3B3;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-family: arial;
    font-size: 12px;
    height: 13px;
    margin-left: 123px;
    padding: 6px;
    position: absolute;
    vertical-align: middle;
    white-space: nowrap;
    width: 357px;
}
#search-bar #search_submit {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center bottom , #D5D5D5 10%, #F0F0F0 93%, #FFFFFF 99%) repeat scroll 0 0 #F0F0F0;
    border-color: #B3B3B3 #B3B3B3 #939393;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #C0C0BA;
    color: #505050;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    height: 26px;
    outline: 0 none;
    overflow: hidden;
    padding: 0 9px;
    position: absolute;
    right: 16px;
    text-align: center;
    text-shadow: 0 1px 0 #EEEEEC;
    vertical-align: middle;
    width: 70px;
}
#search-bar #search-facet li {
    border-bottom: 1px solid #DDDDDD;
    color: #0192B5;
    min-width: 140px;
    padding: 6px 12px 6px 24px;
    position: relative;
    white-space: nowrap;
    width: auto;
}

#search-bar #search-facet label, #search-bar #search-facet h3 {
   /* background: url("header-master-new.png") no-repeat scroll 100% -55px transparent;*/
    color: #505050;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 25px;
    margin: 0;
    outline: 0 none;
    overflow: hidden;
    padding: 0 20px 0 9px;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 #EEEEEC;
    vertical-align: middle;
    white-space: nowrap;
}

#search-bar .input-group {
    height: 40px;
    padding: 15px 0 0;
}
#cart {
    float: right;
    font-size: 12px;
    margin: 0;
    position: relative;
    text-align: center;
}

#cart a {
    background: -moz-linear-gradient(center bottom , #CBCBC5 25%, #DDDDD8 76%, #EEEEEC 98%, #E7E7E4 100%) repeat scroll 0 0 #DDDDD8;
    border-radius: 3px 3px 3px 3px;
    display: block;
    height: 55px;
    padding: 0 10px;
    width: 80px;
}
#cart a .string {
    background: url("header-master-new.png") no-repeat scroll -585px 0 transparent;
    color: #666666;
    display: inline-block;
    font-weight: bold;
    padding: 21px 0 17px 30px;
    text-shadow: 0 1px 0 #EEEEEC;
}
#search-suggestions{
    top: 42px;
    left: 0px;
    width: 367px;
    display: none;
}

#main-nav li a#activity {
    background: url("header-master-new.png") no-repeat scroll -100px 0 transparent;
    height: 20px;
    padding: 17px;
    width: 25px;
}
#main-nav li a#convos {
    background: url("header-master-new.png") no-repeat scroll -220px 0 transparent;
    height: 20px;
    padding: 17px;
    width: 25px;
}
#main-nav li a#favorites {
    background: url("header-master-new.png") no-repeat scroll -340px 0 transparent;
    height: 20px;
    padding: 17px;
    width: 25px;
}
#main-nav li a span {
    display: none;
    text-align: center;
    text-shadow: 0 1px 0 #EFEFEF;
}

#blog-nav-popout{
    position: absolute;
    top: 35.5px;
    left: 150px;
    display: none;
}

#your-etsy-nav-popout{
    position: absolute;
    top: 35.5px;
    right: 60px;
    display: none;
}

#community-nav-popout{
    display: none;
    left: 102px;
    position: absolute;
    top: 35.5px;
}
.red
{
    color:red;
}

.notice{
    color:green;
    text-align:center;
}
.alert{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFEEEE;
    border-color: -moz-use-text-color pink pink;
    border: 1px solid pink;
    clear: left;
    color: #A80308;
    margin-bottom: 8px;
    padding: 4px 8px;
    text-align:center;
}


.tt-header-nav {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.tt, .action-toolbox {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px 3px 3px;
    display: none;
    overflow: visible;
    padding: 5px;
    position: absolute;
    top: 0;
    z-index: 9999;
}

.tt-inner, .action-toolbox-inner {
    background: none repeat scroll 0 0 white;
    padding: 10px 15px;
    text-align: left;
}

.tt-inner a {
    white-space: nowrap;
}
.tt-inner p {
    margin-bottom: 0 !important;
}
.tt-inner ul {
    list-style-type: none;
    margin: 0;
}
body .tt-inner ul li {
    border: 0 none;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.tt-notice .tt-inner {
    background-color: #FFFFCC;
}
.tt-add-circle .tt-inner > p {
    white-space: normal;
}

.tt .tt-arrow, .tt.top .tt-arrow {
    background: url("main-sprite.png") no-repeat scroll 114px 885px transparent;
    bottom: -7px;
    height: 12px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 20px;
}

.tt.right .tt-arrow {
    background-position: -101px -865px;
    height: 20px;
    left: 3px;
    margin-top: -10px;
    top: 50%;
    width: 12px;
}

.tt.bottom .tt-arrow {
    background-position: -112px -853px;
    bottom: auto;
    height: 12px;
    left: 50%;
    margin-left: -11px;
    top: -7px;
    width: 22px;
}

.tt.left .tt-arrow {
    background-position: -135px -866px;
    height: 20px;
    left: auto;
    margin-top: -10px;
    right: -7px;
    top: 50%;
    width: 12px;
}
.tt-notice .tt-arrow {
    background-position: -15px -512px;
}
.tt-mini {
    background: none repeat scroll 0 0 #333333;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    padding: 3px 6px;
    top: 0;
    white-space: nowrap;
    z-index: 9999;
}
.tt-mini .tt-inner {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    padding: 0;
}
.tt-mini .tt-inner p {
    color: #FFFFFF !important;
    font-size: 11px !important;
    margin: 0 !important;
    padding: 0 !important;
}
.tt-inner a {
    white-space: nowrap;
}
.tt-mini .tt-arrow {
    background: url("/assets/dist/201205251337984324/images/sprites/main-sprite.png") no-repeat scroll -15px -569px transparent;
    height: 12px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 20px;
}
.tt-mini.top .tt-arrow {
    background-position: -15px -569px;
    bottom: -12px;
    top: auto;
}
.tt-mini.bottom .tt-arrow {
    background-position: -15px -530px;
    bottom: auto;
    top: -12px;
}
.tt-mini.right .tt-arrow {
    background-position: -2px -549px;
    height: 14px;
    left: 0;
    margin-top: -7px;
    top: 50%;
    width: 10px;
}
.tt-mini.left .tt-arrow {
    background-position: -39px -549px;
    height: 14px;
    left: auto;
    margin-left: 0;
    margin-top: -7px;
    right: -10px;
    top: 50%;
    width: 10px;
}
.action-toolbox {
    width: 184px;
}
.action-toolbox-inner {
    padding: 0;
}
.action-toolbox-inner .loading .spinner-small {
    margin: auto;
}
.action-toolbox-heading {
    background: none repeat scroll 0 0 #F5F5F1;
    border-bottom: 1px solid #ECECEC;
    padding: 10px 12px;
}
.action-toolbox-heading h4 {
    color: #666666;
    font-weight: normal;
    margin-bottom: 0;
}
.action-toolbox-heading h4 a {
    color: #666666;
}
.action-toolbox-heading h3 {
    font-size: 12px;
    margin-bottom: 0;
}
.action-toolbox-content {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px 12px;
}
.action-toolbox-content .actions {
    list-style: none outside none;
    margin: 0;
}
.action-toolbox-content .actions li {
    margin: 4px 0;
}
.action-toolbox-content .actions .add-to-circle-button {
    display: block;
    float: none;
    margin-top: 0;
}
.action-toolbox .action-toolbox-arrow, .action-toolbox.right .action-toolbox-arrow {
    background: url("main-sprite.png") no-repeat scroll -102px -650px transparent;
    height: 20px;
    left: -7px;
    position: absolute;
    top: 13px;
    width: 12px;
}
.action-toolbox.left .action-toolbox-arrow {
    background-position: -136px -650px;
    left: auto;
    right: -7px;
}
.action-toolbox.top .action-toolbox-arrow {
    background-position: -114px -885px;
    bottom: -7px;
    height: 12px;
    left: 50%;
    margin-left: -10px;
    top: auto;
    width: 20px;
}
.action-toolbox.bottom .action-toolbox-arrow {
    background-position: -115px -639px;
    height: 12px;
    left: 50%;
    margin-left: -10px;
    top: -7px;
    width: 20px;
}

#your-etsy-nav-popout h3, #your-etsy-nav-popout .last{
    display: none;
}
#meta-nav li, #user-nav li{
    float:left;
}

#community-nav-popout li, #blog-nav-popout li, #your-etsy-nav-popout li{
    float:none;
}

#your-etsy-nav-popout li{
    padding:1px 12px 0 0;
}

.transitional-wide #header, .transitional-wide #content, .transitional-wide #footer {
    width: 980px;
}

#footer {
    border-top: 1px solid #EAEAEA;
    clear: left;
    margin: 60px auto 20px;
    padding: 8px 0 0;
}

.footer-nag-spacing {
    padding-bottom: 120px !important;
}


#footer ul, #footer ul li, #footer p {
    line-height: 16px;
    margin: 0;
    padding: 0;
}

#footer #copy {
    color: #666666;
    float: left;
    font-size: 11px;
    margin-right: 20px;
}

#footer ul.footer-nav {
    float: right;
}

#footer ul, #footer ul li, #footer p {
    line-height: 16px;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

#footer ul.footer-nav li {
    color: #666666;
    float: left;
    font-size: 11px;
    list-style: none outside none;
    padding: 0 6px;
}

#footer ul, #footer ul li, #footer p {
    line-height: 16px;
    margin: 0;
    padding: 0;
}
#footer ul.footer-nav li a {
    color: #666666;
}
.footer-locale {
    color: #999999;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
}

.footer-nag {
    background: none repeat scroll 0 0 rgba(51, 51, 51, 0.9);
    bottom: 0;
    color: #CCCCCC;
    left: 0;
    margin-left: -10px;
    padding-right: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 5000;
}

.footer-nag .container {
    margin: 0 auto;
    padding: 20px 0 20px 20px;
    position: relative;
    text-align: left;
    width: 980px;
}

.footer-nag .container h3 {
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
}

.footer-nag .container h3 #locale-nag-message {
    display: block;
}

.footer-nag .container h3 .settings {
    color: #FFFFFF;
    font-weight: bold;
}

.en-GB .footer-nag .container #locale-nag-language-switch {
    display: none;
}

.footer-nag .container #locale-nag-language-switch {
    color: #60BDD2;
    display: block;
    font-size: 12px;
}

.footer-nag .container .primary-actions {
    position: absolute;
    right: 0;
    top: 20px;
}

.footer-nag .container .primary-actions .button-medium {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.button-fb.button-large span {
    background-position: 0 5px;
    padding-left: 36px;
}
.button-fb.button-large {
    background-color: #3866B0;
    border-color: #728FC4;
    padding-left: 0;
}

.button-large {
    background-position: 0 -1px;
    font-size: 14px;
    height: 33px;
    line-height: 33px !important;
    padding: 0 13px;
}
.button-fb span, .button-tw span {
    background: url("fb.png") no-repeat scroll 0 -89px transparent;
}
.button-large span {
    line-height: 34px;
}


.button-small, .button-medium, .google-translate-control .goog-te-gadget-link, .button-large, .registry-button-container, .button-fave {
    background: url("buttons-master.png") repeat-x scroll 0 -121px #1B9DBC;
    border-color: #67BDD4 #4AB1CC #359BBD;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #E8E8E8;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    margin-bottom: 9px;
    outline: 0 none;
    padding: 0 11px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: auto;
}
span.button-small, span.button-medium, span.button-large {
    padding: 0;
}

.button-grey, .button-small-grey, .primary-actions .button-medium-grey, .button-large-grey {
    background-color: #A0A0A0;
    border-color: #BEBEBE #B3B3B3 #9E9E9E;
}

.button-medium input {
    padding: 0 11px;
}
span.button-small, span.button-medium, span.button-large {
    padding: 0;
}

.button-large {
    background-position: 0 -1px;
    font-size: 14px;
    height: 33px;
    line-height: 33px !important;
    padding: 0 13px;
}


span.button-small span span.button-medium span, span.button-large span {
    padding: 0;
}
.button span, .button-small span, .button-medium span, .button-large span {
    display: inline-block;
    height: 100%;
    line-height :24px;
}
.button-large span {
    line-height: 34px;
}
.button-small input, .button-medium input, .button-large input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin: 0;
    outline: 0 none;
    overflow: visible;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
}
.button-large input {
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    padding: 0 13px;
}

