<div class="footer-nag-spacing" id="footer">
  <p class="divider" id="copy">
    &copy; 2012 MFShop, Inc.
  </p>

  <ul class="footer-nav clear">
    <li id="footer_blog"><a title="The Etsy Blog - Discover how-to's, interviews with makers, and curated collections." href="/blog?ref=ft_blog">Blog</a></li>
    <li id="footer_about"><a href="/about?ref=ft_about">About</a></li>
    <li id="footer_contact"><a href="/help/article/486?ref=ft_contact">Contact</a></li>
    <li id="footer_press"><a href="/press?ref=ft_press">Press</a></li>
    <li id="footer_developers"><a href="/developers?ref=ft_dev">Developers</a></li>
    <li class="divider" id="footer_careers"><a href="/jobs?ref=ft_careers">Careers</a></li>
    <li id="footer_terms"><a title="Terms of Use" href="/help/article/479?ref=ft_terms">Terms</a></li>
    <li id="footer_privacy"><a href="/help/article/480?ref=ft_privacy">Privacy</a></li>
    <li class="last" id="footer_copyright"><a href="/help/article/482?ref=ft_copyright">Copyright</a></li>
  </ul>

  <p class="footer-locale">
    <a href="#language-select">
      <span class="icon"></span>
      English (UK)
    </a> /
    <a href="#currency-select">
      <span class="currency-symbol">$</span>
      United States Dollar
    </a> /
    <a href="#region-select">India</a>
    <span class="spinner-small" id="footer-spinner"></span>
  </p>
</div>
<%= render "layouts/overlay" %>